@import '../../util/variables';

#home_content {

    min-width: $min-width;
    margin: 0 auto;

    #home_title {
        text-align: center;
    }

    .images_container {
        background-color: slategray;
        min-height: 35rem;



    }

    #movies_row {
        background-image: url('../../Assets/MoviesRow.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}