@import '../../../util/variables';

.actor_container_list {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    min-height: 30rem;
    display: flex;
    margin-bottom: 5rem;
    border: 1px solid white;


    &:hover {
        cursor: pointer;

    }




    .actor_information_list {
        width: 100%;
        display: flex;
        align-items: flex-end;

        &:hover {

            >.actor_name_container {
                background-position: right;

            }
        }



        .actor_name {
            width: 100%;
            font-family: $title-font,
                sans-serif;
            font-size: 2.7rem;
            font-weight: $title-font-weight;


        }




    }

    #actor_image_container {
        flex: 40%;
        background-position: center;
        background-size: cover;
    }


}

/////// MEDIA QUERIES /////////
@media only screen and (max-width: 700px) {
    .actor_container_list {
        align-items: flex-start;
        flex-direction: column;


    }


}

@media only screen and (min-width: 1921px) {
    #actors_list_content_list {
        min-width: $min-width;
        margin: 0 auto;
        max-width: $max-width-extra-large;


    }
}