@import '../../util/variables.scss';

#movie_information_page {
    padding-bottom: 5rem;
}

#movie_banner_container {
    min-height: 40rem;
    padding-bottom: 5rem;

}

#movie_banner {
    max-width: $max-width-extra-large;
    width: 100%;
    min-height: 40rem;
    max-height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 30%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    opacity: 0.5;

    #movie_banner_gradient {
        background-image: linear-gradient(to right, rgb(10, 13, 29) 0%, rgba(19, 22, 34, 0.84) 70%);
        max-width: 200rem;
        width: 100%;
        min-height: 40rem;
        max-height: 40rem;
        position: relative;
    }
}

#movie_banner_information {
    max-width: $max-width-large;
    margin: 0 auto;
    height: 40rem;
    position: relative;


    #movie_title {
        padding-top: 2rem;
        text-align: center;
        font-family: $title-font;
        font-weight: $title-font-weight;
        font-size: 4rem;
    }

    #movie_information {
        display: flex;
        position: absolute;
        bottom: 0;
        padding-bottom: 5rem;
        width: 100%;



        #movie_information_left {
            flex: 50%;
        }

        #movie_information_right {
            flex: 50%;
            display: flex;
            justify-content: flex-end;

            #star_icon {
                padding-top: 1rem;
                height: 1.5rem;
            }




        }
    }
}

#movie_description_container {
    max-width: $max-width-large;
    margin: 0 auto;
    min-height: 10rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    align-content: center;
    font-family: $desc-font;
    line-height: 1.5;

    ::first-letter {
        font-size: 150%;

    }

    #movie_description {
        padding-top: 2rem;
        padding-bottom: 3rem;
        text-align: center;
    }

}

#featured_actors {
    max-width: $max-width-large;
    margin: 0 auto;
    min-height: 10rem;

    #actors_list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .actor_container {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;


            .actor_image {
                border: 1px solid white;
                width: 15rem;
                height: 25rem;
                object-fit: cover;
            }

            .actor_name {
                text-align: center;
            }
        }


    }
}