@import '../../util/variables';

#actors_list_content {
    min-width: $min-width;
    margin: 0 auto;
    max-width: $max-width-large;


    #actors_list_title {
        text-align: center;
        font-family: $title-font,
            cursive;
        font-size: 6rem;
        font-weight: $title-font-weight;
    }

    #display_options {
        text-align: end;
        padding: 0rem 1.2rem 1rem 0rem;


        .view_buttons {
            background: none;
            color: inherit;
            border: none;
            padding: 0rem .2rem 0rem.2rem;
            cursor: pointer;
            outline: inherit;
            filter: $filter-white;
            height: 2.1rem;

        }
    }
}