.movie_container {
    display: flex;
    margin: 3rem 0 3rem 0;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-flow: nowrap;

    .movie_poster {
        max-height: 30rem;
        object-fit: contain;
        flex-grow: 1;
        flex: 50%;
    }

    .movie_information {
        flex-grow: 1;
        flex: 50%;




    }


}


/////// MEDIA QUERIES /////////
@media only screen and (max-width: 700px) {
    .movie_container {
        align-items: flex-start;
        flex-direction: column;

    }
}