@import '../../util/variables';

nav {
    background-color: #1F1F1F;
    padding: 1.5rem 0rem 1.5rem 0rem;

    #navigation_content {
        margin: 0 auto;
        max-width: $max-width-large;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;

        #logo_container {
            flex: 10%;
            text-align: end;

            #logo {
                max-width: 4rem;
                padding-left: 0.6rem;
                filter: $filter-white;
            }
        }

        #search_bar_container {
            flex: 60%;

            text-align: center;
        }

        #login_button,
        #signup_button,
        #logout_button {
            flex: 10%;
            background: none;
            color: inherit;
            border: none;
            padding: 0 2rem 0 0;
            font-family: $desc-font;
            font-size: 1.25rem;
            cursor: pointer;
            outline: inherit;
        }

        #login_link,
        #signup_link {
            color: white;
        }

        #list_button {
            flex: 20%;
        }
    }



}