@import '../../../util/variables';

#object_desc_link {
    text-decoration: none;
    color: red;

}

.object_container_list {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    min-height: 30rem;
    display: flex;
    margin-bottom: 5rem;
    border: 1px solid white;
    flex-wrap: nowrap;


    .object_image_container {
        flex: 1 1 40%;
        background-position: center;
        background-size: cover;
        border-right: 1px solid white;

        &:hover {
            cursor: pointer;

        }
    }



    .object_information_list {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;

        .object_known_movies {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            position: absolute;
            top: 15%;
            left: 37.5%;


            .known_for_title {
                position: absolute;
                left: 0%;
                top: -35%;
                font-family: $title-font,
                    sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
            }


            .known_movie_container {
                width: 14rem;
                height: 14rem;
            }



            .known_movie {
                height: 100%;
                object-fit: contain;
                border: 1px solid white
            }

        }



        .object_name_container_list {
            width: 100%;
            transition: .5s ease-out;
            background: linear-gradient(to left, rgba(124, 124, 124, 0.274) 50%, rgba(0, 0, 0, 0.65) 50%) right;
            background-size: 200%;
            background-position: left bottom;
            text-align: left;
            flex: 2 1 60%;
            padding-left: 10rem;
            border-top: 1px solid white;

            &:hover {
                cursor: pointer;


                background-position: right;


            }
        }



        .object_name {
            width: 100%;
            font-family: $title-font,
                sans-serif;
            font-size: 2.7rem;
            font-weight: $title-font-weight;


        }




    }




}