@import '../../../../util/variables';


#object_link {
    text-decoration: none;
    color: white;

}



/////// Movie List View Styling ///////// 

.movie_container_list {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    min-height: 30rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5rem;
    border: 1px solid white;


    &:hover {
        cursor: pointer;

        >.movie_image_list {
            opacity: 1;
        }



    }



    .movie_information_list {
        position: relative;
        width: 100%;
        background: rgba(0, 0, 0, 1);
        background-size: 200%;
        background-position: left bottom;
        text-align: center;
        min-height: 8rem;
        border-top: 1px solid white;



        .movie_name_list {
            font-family: $title-font,
                sans-serif;
            font-size: 2.7rem;
            font-weight: $title-font-weight;

        }




    }

    .movie_image_list {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 0.5;
        object-fit: cover;
        object-position: 0% 25%;
        max-height: 30rem;
        transition: opacity .6s;



    }
}




/////// Actor List View Styling ///////// 

.actor_container_list {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    min-height: 30rem;
    display: flex;
    margin-bottom: 5rem;
    border: 1px solid white;
    flex-wrap: nowrap;


    .actor_image_container {
        flex: 1 1 40%;
        background-position: center;
        background-size: cover;
        border-right: 1px solid white;

        &:hover {
            cursor: pointer;

        }
    }



    .actor_information_list {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-wrap: nowrap;

        .actor_known_movies {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            position: absolute;
            top: 15%;
            left: 37.5%;


            .known_for_title {
                position: absolute;
                left: 0%;
                top: -35%;
                font-family: $title-font,
                    sans-serif;
                font-size: 1.5rem;
                font-weight: 400;
            }


            .known_movie_container {
                width: 14rem;
                height: 14rem;
            }



            .known_movie {
                height: 100%;
                object-fit: contain;
                border: 1px solid white
            }

        }



        .actor_name_container_list {
            width: 100%;
            transition: .5s ease-out;
            background: linear-gradient(to left, rgba(124, 124, 124, 0.274) 50%, rgba(0, 0, 0, 0.65) 50%) right;
            background-size: 200%;
            background-position: left bottom;
            text-align: left;
            flex: 2 1 60%;
            padding-left: 10rem;
            border-top: 1px solid white;

            &:hover {
                cursor: pointer;


                background-position: right;


            }
        }



        .actor_name {
            width: 100%;
            font-family: $title-font,
                sans-serif;
            font-size: 2.7rem;
            font-weight: $title-font-weight;


        }




    }




}





/////// MEDIA QUERIES /////////
@media only screen and (max-width: 700px) {

    .movie_container_list,
    .actor_container_list {
        align-items: flex-start;
        flex-direction: column;


    }


}

@media only screen and (min-width: 1921px) {

    #movie_container_list,
    #actor_container_list {
        min-width: $min-width;
        margin: 0 auto;
        max-width: $max-width-extra-large;


    }
}