$max-width-large: 70rem;
$max-width-extra-large: 200rem;
$min-width: 28.125rem;
$title-font: 'Rancho';
$title-font-weight: 100;
$desc-font: 'Open Sans';
$filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(64deg) brightness(103%) contrast(100%);